#tituloclickuno{
	font-size: 100px;
    font-family: arial;
    border: 3px solid black;
	
    
}
#navegacion{
	float:right;
	text-align: center;
	font-size: 15px;
    display: inline-block;
	berder: 4px solid black;

} 
#subtitulouno{
	padding:0;
	margin:15px;
	font-size: 20px;
    font-family: arial
}

#asideleft{
	font-size: 17px;
	font-family: arial;
    width:60%;
    background: green;
}

#cuerpotres{
	text-align: center;
}

#titulodos{
	text-align: center;
}

#mapa{
	text-align: center;
}

.atajos li{
	text-align: center;
	list-style: none;
	display: inline-block;
    padding: 10px;
    berder: 4px solid black;
	float:caption-side;
    
}
